---
import comillas from '@/assets/img/comilla_logo.avif';
import flecha1 from '@/assets/svg/flecha_1.svg';

interface Props {
  titulo: string;
  descripcion: string;
  urlDestino: string;
  vertical: string;
  horizontal: string;
  verticalFlecha?: string;
  horizontalFlecha?: string;
  rotate?: string;
  invertir?: boolean;
}

const {
  titulo,
  descripcion,
  urlDestino,
  vertical,
  horizontal,
  verticalFlecha,
  horizontalFlecha,
  rotate,
  invertir,
} = Astro.props;
---

<div class="container__servicio">
  <div
    class="servicio text-4xl font-bold text-blackolive-100"
    style={`--horizontal:${horizontal}% ; --vertical:${vertical}%;`}
    data-urlDestino={urlDestino}
    data-descripcion={descripcion}
    data-titulo={titulo}
  >
    <button class="btn-modal relative cursor-pointer text-4xl font-bold text-blackolive-100">
      {titulo}
      <div class="absolute -top-3 -right-5 size-[20px]">
        <img
          src={comillas.src}
          alt="Comillas logo Planifica Mejor"
          class="h-full w-full object-cover"
        />
      </div>
    </button>
  </div>
</div>

<style>
  .servicio {
    --size: 50%;
    --vertical: 0;
    --horizontal: 0;
    opacity: 0;
    position: absolute;
    aspect-ratio: 1;
    min-width: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(var(--size) / 2);
    left: calc(var(--size) / 2);
    text-align: center;
  }

  .servicio__animacion {
    animation: moveOut 0.5s linear forwards;
  }
  @keyframes moveOut {
    0% {
      opacity: 0;
      transform: translate(0, 0);
    }
    100% {
      opacity: 1;
      transform: translate(var(--horizontal), var(--vertical));
    }
  }

  .svg-flecha-1 {
    stroke-dashoffset: 338.4143371582031px;
    stroke-dasharray: 338.4143371582031px;
    -webkit-transition: stroke-dashoffset 1s linear 0s;
    transition: stroke-dashoffset 1s linear 0s;
  }

  .active .svg-elem-1 {
    stroke-dashoffset: 676.8286743164062px;
  }
</style>
