---
import dataServPersonas from '@/data/itemsServiciosPersonas.json';
import ItemServiciosWeb from './ItemServiciosWeb.astro';
import FlechaSVG from './FlechaSVG.astro';
import imgFondo from '@/assets/svg/logo_sin_fondo.svg';
import Subrayado from './Subrayado.astro';
---

<div class="relative mx-auto hidden h-[700px] w-full place-items-center lg:grid">
  <div
    class="absolute top-1/2 left-1/2 -z-10 flex h-1/3 w-1/3 -translate-x-1/2 -translate-y-1/2 flex-col items-center justify-center"
  >
    <img
      src={imgFondo.src}
      alt=""
      class="aspect-square h-[70%] w-[70%] object-contain object-top"
    />
    <span class="relative text-5xl font-black text-oxfordblue-500"
      >PERSONAS
      <Subrayado />
    </span>
  </div>

  <div class="centro relative aspect-square w-[100px]">
    {
      dataServPersonas.map((item) => (
        <>
          <ItemServiciosWeb
            titulo={item.titulo}
            descripcion={item.descripcion}
            urlDestino={item.urlDestino}
            vertical={item.vertical}
            horizontal={item.horizontal}
            verticalFlecha={item.verticalFlecha}
            horizontalFlecha={item.horizontalFlecha}
            rotate={item.rotate}
            invertir={item.invertir}
          />
          <FlechaSVG
            id={`flecha-${item.titulo}`}
            horizontalFlecha={item.horizontalFlecha}
            verticalFlecha={item.verticalFlecha}
            rotate={item.rotate}
            invertir={item.invertir}
          />
        </>
      ))
    }
  </div>
</div>
